.form{
    margin:0;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-size: 50px;
    background-color: #4986d9;
    margin-bottom: 10px;
    border-radius: 5px;
}
.email{
    height: 50px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}
.senha {
    height: 50px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}
.login{
    margin: auto;
    background-color: #285398;
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 350px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.enviar{
    height: 30px;
    width: 100px;
    background-color: #FFFFFF;
}
.login a{
    color: #FFFFFF;
    margin-left: 40px;
}
.login a:hover{
    color: aqua;
}
